body{
    background-color: #ffdee3;
    background-image: linear-gradient(0deg, #ffdee3 0%, #B5FFFC 100%);
}
p{
    padding-left: 30px;
}
img{
    padding-left: 25px;
}
p{
    padding-right: 150px;
}